@import url(//fonts.googleapis.com/css?family=Raleway);

body {
  font-family: 'Poppins', sans-serif !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.preloader{
  width: 100%;
  height: 100vh;
  background-color: var(--dark);
  position: fixed;
  z-index: 10000 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-play-state: paused;
}

.imgCont{
  background-size: cover;
  background-color: black;
  width: 100%; 
  height: 100vh;
  box-shadow: 0 0 30px 10px black inset;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.appendsInputsXYMargin>.MathJax.CtxtMenu_Attached_0{
  margin: 0 !important;
}

.btn-orange{
  color: #fff;
  background-color: var(--orange);
  border-color: var(--orange);
}

.btn-orange:hover{
  background-color: #e46600;
  border-color: #e46600;
  color: white;
}

.i-orange{
  color: var(--orange);
}

.i-orange:hover{
  color: #e46600;
}